name: Deploy Documentation (manual)

on:
  workflow_dispatch:
    inputs:
      siv3d_docs_commit_hash:
        description: 'siv3d.docs repository commit hash'
        required: true
        type: string
      skip_algolia:
        description: 'Skip Algolia deployment'
        required: false
        type: boolean
        default: false
      skip_r2:
        description: 'Skip R2 deployment'
        required: false
        type: boolean
        default: false

jobs:
  call-core:
    uses: ./.github/workflows/deploy-docs-core.yml
    secrets: inherit
    with:
      siv3d_docs_commit_hash: ${{ inputs.siv3d_docs_commit_hash }}
      skip_algolia: ${{ inputs.skip_algolia }}
      skip_r2: ${{ inputs.skip_r2 }}
